@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>HighCPU</h1>
    <p class="lead">Please choose one:</p>
    <p><a href=@ViewBag.HighCPUSmall class="btn btn-primary btn-lg">HighCPUSmall &raquo;</a></p>
    <p><a href=@ViewBag.HighCPUBig class="btn btn-primary btn-lg">HighCPUBig &raquo;</a></p>
</div>

<p>Use this area to provide additional information.</p>
